{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": ["source-map-support"]
}
