{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:jest/recommended", "plugin:jest/style"],
  "plugins": ["jest"],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "error"] }]
  }
}
